<!--<h1>You're logged in! Welcome to the Admin Dashboard!</h1>
<% link_to "Sign Out", destroy_admin_session_path %>-->
<div class="main-view">
  <h1>Personal Trainer</h1>
  <%= image_tag("workout_assets/main.jpg", class:"main-view__picture") %>
    <!--<img src="/assets/images/workout_assets/main.jpg" alt="test"/>-->
  <br />
  <div class="main-view__button">
    <%= link_to "Continue as Guest", root_path %>
  </div>
  <div class="main-view__button">
    <%= link_to "Login/Create Account", login_path %>
  </div>
</div>

<!--app/assets/images/dark-1839088_1920.jpg-->