<div>
  <p>
    Exercise:
    <%= exercise.type %>
  </p>

  <p>
    <%= link_to 'Destroy Exercise', [exercise.workout, exercise],
        method: :delete,
        data: { confirm: "Are you sure?" } %>
  </p>
</div>