<div>
  <p>
    Exercise:
    <%= exercise.exercise_name %>
  </p>
  <p>
  <%= link_to 'Remove Exercise', [exercise.workout, exercise],
      method: :delete,
      data: { confirm: "Are you sure?" } %>
</p>
</div>