<%= form_with model: [ @workout, @workout.exercises.build] do |form|%>
  <p>
    <%= form.label :exercise_name %>
    <br />
    <%= form.text_field :exercise_name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>